# Flight Price Prediction(EDA and Feature Engineering)

#### Importing Liabraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### Importing the Dataset

In [2]:
train_df = pd.read_excel('Data_Train.xlsx')
train_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [3]:
test_df= pd.read_excel('Test_set.xlsx')
test_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [4]:
train_df.shape, test_df.shape

((10683, 11), (2671, 10))

In [5]:
final_df = train_df.append(test_df)
final_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0

In [6]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.2+ MB

### Feature Engineering

In [7]:
final_df['Date']= final_df['Date_of_Journey'].str.split('/').str[0] 
final_df['Month']= final_df['Date_of_Journey'].str.split('/').str[1] 
final_df['Year']= final_df['Date_of_Journey'].str.split('/').str[2]

In [8]:
final_df['Date']= final_df['Date'].astype(int)
final_df['Month']= final_df['Month'].astype(int)
final_df['Year']= final_df['Year'].astype(int)

In [9]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
 11  Date             13354 non-null  int32
 12  Month            13354 non-null  int32
 13  Year             13354 non-null  int32
dtypes: float64(1), int32(3), object(10)
memory usage: 1.4+ MB

In [10]:
final_df.drop(['Date_of_Journey'],axis=1, inplace=True)

In [11]:
final_df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019

In [12]:
final_df['Arrival_Time']= final_df['Arrival_Time'].str.split(' ').str[0]

In [13]:
final_df.head(1)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0,24,3,2019

In [14]:
final_df.isnull().sum()

Airline               0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
Date                  0
Month                 0
Year                  0
dtype: int64

In [15]:
final_df['Arrival_Hour']= final_df['Arrival_Time'].str.split(':').str[0]
final_df['Arrival_Hour']=final_df['Arrival_Hour'].astype(int)

In [16]:
final_df['Arrival_Minute']= final_df['Arrival_Time'].str.split(':').str[1]
final_df['Arrival_Minute']=final_df['Arrival_Minute'].astype(int)

In [17]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Dep_Time         13354 non-null  object
 5   Arrival_Time     13354 non-null  object
 6   Duration         13354 non-null  object
 7   Total_Stops      13353 non-null  object
 8   Additional_Info  13354 non-null  object
 9   Price            10683 non-null  float64
 10  Date             13354 non-null  int32
 11  Month            13354 non-null  int32
 12  Year             13354 non-null  int32
 13  Arrival_Hour     13354 non-null  int32
 14  Arrival_Minute   13354 non-null  int32
dtypes: float64(1), int32(5), object(9)
memory usage: 1.4+ MB

In [18]:
final_df.drop(['Arrival_Time'], axis=1, inplace=True)

In [19]:
final_df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,7h 25m,2 stops,No info,7662.0,1,5,2019,13,15

In [20]:
final_df['Departure_Hour']= final_df['Dep_Time'].str.split(':').str[0]
final_df['Departure_Minute']= final_df['Dep_Time'].str.split(':').str[1]

In [21]:
final_df['Departure_Hour']=final_df['Departure_Hour'].astype(int)
final_df['Departure_Minute']=final_df['Departure_Minute'].astype(int)

In [22]:
final_df.drop(['Dep_Time'],axis=1, inplace=True)

In [23]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           13354 non-null  object
 1   Source            13354 non-null  object
 2   Destination       13354 non-null  object
 3   Route             13353 non-null  object
 4   Duration          13354 non-null  object
 5   Total_Stops       13353 non-null  object
 6   Additional_Info   13354 non-null  object
 7   Price             10683 non-null  float64
 8   Date              13354 non-null  int32
 9   Month             13354 non-null  int32
 10  Year              13354 non-null  int32
 11  Arrival_Hour      13354 non-null  int32
 12  Arrival_Minute    13354 non-null  int32
 13  Departure_Hour    13354 non-null  int32
 14  Departure_Minute  13354 non-null  int32
dtypes: float64(1), int32(7), object(7)
memory usage: 1.3+ MB

In [24]:
final_df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [25]:
final_df['Total_Stops']= final_df['Total_Stops'].map({'non-stop':0, '2 stops':2, '1 stop':1, '3 stops':3, 'nan':0, '4 stops':4})

In [26]:
final_df.drop(['Route'],axis=1, inplace=True)

In [27]:
final_df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minute,Departure_Hour,Departure_Minute
0,IndiGo,Banglore,New Delhi,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,7h 25m,2.0,No info,7662.0,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,19h,2.0,No info,13882.0,9,6,2019,4,25,9,25
3,IndiGo,Kolkata,Banglore,5h 25m,1.0,No info,6218.0,12,5,2019,23,30,18,5
4,IndiGo,Banglore,New Delhi,4h 45m,1.0,No info,13302.0,1,3,2019,21,35,16,50

In [28]:
final_df['Duration_Hour']=final_df['Duration'].str.split(' ').str[0].str.split('h').str[0]

In [29]:
final_df[final_df['Duration_Hour'] =='5m']

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minute,Departure_Hour,Departure_Minute,Duration_Hour
6474,Air India,Mumbai,Hyderabad,5m,2.0,No info,17327.0,6,3,2019,16,55,16,50,5m
2660,Air India,Mumbai,Hyderabad,5m,2.0,No info,NaN,12,3,2019,16,55,16,50,5m

In [30]:
final_df.drop(6474, axis=0, inplace=True)
final_df.drop(2660, axis=0, inplace=True)

In [31]:
final_df['Duration_Hour']= final_df['Duration_Hour'].astype(int)*60

In [32]:
final_df['Duration_Minutes']= final_df['Duration_Hour']

In [33]:
final_df.drop(['Duration_Hour','Duration'],axis=1, inplace=True)

In [34]:
final_df

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minute,Departure_Hour,Departure_Minute,Duration_Minutes
0,IndiGo,Banglore,New Delhi,0.0,No info,3897.0,24,3,2019,1,10,22,20,120
1,Air India,Kolkata,Banglore,2.0,No info,7662.0,1,5,2019,13,15,5,50,420
2,Jet Airways,Delhi,Cochin,2.0,No info,13882.0,9,6,2019,4,25,9,25,1140
3,IndiGo,Kolkata,Banglore,1.0,No info,6218.0,12,5,2019,23,30,18,5,300
4,IndiGo,Banglore,New Delhi,1.0,No info,13302.0,1,3,2019,21,35,16,50,240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,1.0,No info,NaN,6,6,2019,20,25,20,30,1380
2667,IndiGo,Kolkata,Banglore,0.0,No info,NaN,27,3,2019,16,55,14,20,120
2668,Jet Airways,Delhi,Cochin,1.0,No info,NaN,6,3,2019,4,25,21,50,360
2669,Air India,Delhi,Cochin,1.0,No info,NaN,6,3,2019,19,15,4,0,900
2670,Multiple carriers,Delhi,Cochin,1.0,No info,NaN,15,6,2019,19,15,4,55,840

### Converting Categorical Features into Numbers using Label Encoder/ One Hot Encoding

In [35]:
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()

In [36]:
final_df['Airline']= le.fit_transform(final_df['Airline'])
final_df['Source']= le.fit_transform(final_df['Source'])
final_df['Destination']= le.fit_transform(final_df['Destination'])
final_df['Additional_Info']= le.fit_transform(final_df['Additional_Info'])

In [37]:
final_df.head()

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minute,Departure_Hour,Departure_Minute,Duration_Minutes
0,3,0,5,0.0,8,3897.0,24,3,2019,1,10,22,20,120
1,1,3,0,2.0,8,7662.0,1,5,2019,13,15,5,50,420
2,4,2,1,2.0,8,13882.0,9,6,2019,4,25,9,25,1140
3,3,3,0,1.0,8,6218.0,12,5,2019,23,30,18,5,300
4,3,0,5,1.0,8,13302.0,1,3,2019,21,35,16,50,240

In [38]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13351 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           13351 non-null  int32
 1   Source            13351 non-null  int32
 2   Destination       13351 non-null  int32
 3   Total_Stops       13350 non-null  float64
 4   Additional_Info   13351 non-null  int32
 5   Price             10681 non-null  float64
 6   Date              13351 non-null  int32
 7   Month             13351 non-null  int32
 8   Year              13351 non-null  int32
 9   Arrival_Hour      13351 non-null  int32
 10  Arrival_Minute    13351 non-null  int32
 11  Departure_Hour    13351 non-null  int32
 12  Departure_Minute  13351 non-null  int32
 13  Duration_Minutes  13351 non-null  int32
dtypes: float64(2), int32(12)
memory usage: 938.7 KB

In [39]:
final_df[final_df['Total_Stops'].isnull()]
final_df.drop(9039, axis=0, inplace=True)

In [40]:
final_df.isnull().sum()

Airline                0
Source                 0
Destination            0
Total_Stops            0
Additional_Info        0
Price               2670
Date                   0
Month                  0
Year                   0
Arrival_Hour           0
Arrival_Minute         0
Departure_Hour         0
Departure_Minute       0
Duration_Minutes       0
dtype: int64

In [52]:
df_test= final_df[final_df['Price'].isnull()]

In [53]:
df_train= final_df[~final_df['Price'].isnull()]

In [54]:
X=df_train.drop(['Price'], axis=1)

In [55]:
y= df_train['Price']

In [56]:
X.shape, y.shape

((10680, 13), (10680,))

## Train the Model using different algorithms

In [57]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [58]:
from sklearn.linear_model import LinearRegression
lr= LinearRegression()

In [59]:
lr.fit(X_train,y_train)

LinearRegression()

In [62]:
lr.score(X_train,y_train)

0.43466200348034645

In [67]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators = 50, random_state = 0)

In [68]:
rf.fit(X_train,y_train)

RandomForestRegressor(n_estimators=50, random_state=0)

In [69]:
rf.score(X_train,y_train)

0.9790005744724881